a {
    text-decoration: none;
}
body {
    background: url(../image/background_0417.jpg) no-repeat;
    background-size: cover;
}


#index-banner {
    text-align: center;
    position: sticky;
    color: rgb(0, 255, 255);
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    font-family: "NeoDunggeunmoPro-Regular";
    width: 100vh;
    height: 600px;
    margin: 0 auto;
    /* padding-top: 150px; */
    display: grid;
    place-items: center;
}

h1 {
    width: 11.5ch;      /*글자수*/
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;      /*효과*/
    white-space: nowrap;        /*줄바꿈 안함*/
    overflow: hidden;           /**/
    border-right: 3px solid;
    font-family: "NeoDunggeunmoPro-Regular";
    margin: 0 auto;
  }


/* 1안 */
/* h1 {
    font-size: 72px;
    min-width:11px;
    white-space: nowrap;
    margin: 0;
    position: fixed;
    color: transparent;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  h1::before {
    content: "HELLO WORLD!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 255, 255);
    -webkit-text-stroke: white;
    overflow: hidden;
    border-right: 1px solid rgb(255, 255, 255);
    animation: typing 5s steps(25);
    animation-iteration-count: 0.5;
  } 
  
  @keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  } */

  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


#index-container {
    /* position: sticky; */
}

#index-button {
    position: fixed;
    margin-top: 100px;
    margin: 0 auto;
    position: sticky;
}

#index-signUp-button {
    background-color: rgb(111, 0, 255);
    border: solid 3px black;
    color: white;
    font-family: "NeoDunggeunmoPro-Regular";
    font-size: 24px;
    position: sticky;
}

#index-logIn-button {
    background-color: rgb(255, 0, 222);
    border: solid 3px black;
    color: white;
    font-family: "NeoDunggeunmoPro-Regular";
    font-size: 24px;
}

/*둥근고딕(제목폰트)*/
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*둥근모(양식폰트)*/
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
